// Navigation.scss
.navigation-container {
    width: 100%; // контейнер должен занимать всю ширину
    
    justify-content: space-between; // центрирование дочерних элементов по горизонтали
    align-items: center; // центрирование дочерних элементов по вертикали
    background-color: #001529; // фоновый цвет, соответствующий теме Ant Design
    padding: 10px 0; // немного отступа сверху и снизу для визуального пространства
  
    .ant-menu {
        
      background-color: transparent; // делаем фон меню прозрачным, чтобы видеть фон контейнера
      border-bottom: none; // убираем нижнюю границу, которая есть у меню по умолчанию
  
      // По умолчанию Ant Design применяет некоторые стили, которые могут влиять на ваше меню,
      // возможно, вам придется переопределить некоторые из них здесь.
    }
    .ant-menu-horizontal {
        // Ваши переопределенные стили
        display: flex;
        justify-content: space-between; // распределите элементы меню равномерно
        // убедитесь, что не используются свойства, сворачивающие меню или скрывающие элементы
      }
      
  }
