.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
// App.scss (или App.css, в зависимости от предпочтений вашего проекта)


.navigation {
  flex-shrink: 0; // Это предотвратит сжатие навигационной панели.
}



.app-container {
  display: flex;
  flex-direction: column;
  max-height: 100vh; // Занимает полную доступную высоту
}

.content {
  flex-grow: 1; // Занимает все доступное пространство, не занятое другими flex элементами
  padding-top: 150px; // Это значение может быть изменено в зависимости от фактической высоты вашей навигационной панели
  background-color: rgb(35,42,50); // Цвет фона, чтобы создать контраст между содержимым и навигацией
}
.ant-menu-overflow {
  margin-left: 40%;
}